
:root {
    --bs-primary:  rgb(213, 27, 27);
    --bs-primary-100: rgb(163, 27, 27);
    --bs-primary-200: rgb(113, 27, 27);
}

.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: none;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--bs-primary) !important;
}

.border-primary {
    border-color: var(--bs-primary) !important;
}

.btn-primary {
    /*background: var(--bs-primary);*/
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary-100);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary-100);
    --bs-btn-hover-border-color: var(--bs-primary-200);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary-100);
    --bs-btn-active-border-color: var(--bs-primary-200);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.root-red-background {
  background: var(--bs-primary);
}


.active>.page-link, .page-link.active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.page-link:focus {
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color: white;
}



.navbar {
    --bs-navbar-padding-y: 0;
}