.filter-scroll {
    max-height: 400px;
    overflow-y: auto;
}

.btn-add-cart {
    flex: 1 1 auto;
    white-space: nowrap;
    background: #d51b1b;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    width: calc(100% - 50px);
    font-weight: bold;
}

.btn-add-cart:hover {
    color: white;
    background: #b01030;
}

.wishlist-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font-size: 35px;
    color: #999;
    cursor: pointer;
    transition: all 0.2s ease;
}

.wishlist-icon:hover {
    color: #dc3545;
    transform: scale(1.1);
}


.wishlist-icon.active {
    color: #dc3545;
}

.sort-btn {
    border: none !important;
    background: transparent !important;
    font-weight: 600;
    color: #dc3545;
    padding: 0.375rem 0.75rem;
}


.sort-btn:hover {
    color: #b01030;
    background: transparent;
}

.sort-btn.show {
    color: #dc3545;
}

.sort-btn:focus,
.sort-btn:active,
.sort-btn:focus-visible {
    box-shadow: none !important;
    outline: none !important;
}

.dropdown-item:hover {
    background-color: #fce8ea;
    color: #dc3545;
}

.dropdown-item.active {
    background-color: #dc3545;
    color: #fff;
}