   body {
      background-color: #fff;
    }

    h2 {
      color: #041675;
        font-size: 32px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
    }

    .form-container {
      max-width: 600px;
      margin: auto;
      padding: 10px;
      background: #fff;
      border-radius: 8px;
    }

    .form-label {
      font-weight: 600;
    }

    .form-text {
      color: red;
      font-size: 0.9rem;
    }

    .btn-register {
      background-color: #d51b1b;
      color: white;
      font-weight: 600;
      transition: all 0.3s ease;
    }

    .btn-register:hover {
      background-color: #b51616;
      transform: translateY(-2px);
    }

    .form-check-label {
      font-size: 0.9rem;
    }

    .form-check-input.custom-black {
    border-color: #000 !important;
    }

    .form-check-input.custom-black:checked {
    background-color: #000 !important;
    border-color: #000 !important;
    }

    .form-check-input.custom-black:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.25) !important;
    }