.img-cover {
    height: 260px;
    object-fit: cover;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    border-radius: 16px;
    border: 2px solid #dee2e6;
    overflow: hidden;
    transition: all 0.25s ease;
}